.admin-layout {
  background-color: #f6f9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 15%; /* Chiếm 1/3 màn hình */
  background-color: rgb(38, 205, 183);
  height: 900px;
} 

.content {
  width:1250px; 
  padding-left: 100px; /* Giúp content không bị sát mép */
}
h3{
  text-align: center;
  color: rgb(31, 11, 111);
  margin-bottom: 20px;
}

